/*
 * Colors
 */

@define-color hellocontest-duplicate-bg red;
@define-color hellocontest-duplicate-fg white;

@define-color hellocontest-spot-fg #000000;
@define-color hellocontest-worked-spot-bg #808080;
@define-color hellocontest-manual-spot-bg #FFFFFF;
@define-color hellocontest-skimmer-spot-bg #FF99FF;
@define-color hellocontest-rbn-spot-bg #FFFF99;
@define-color hellocontest-cluster-spot-bg #99FFFF;

@define-color hellocontest-band160m #7F007F;
@define-color hellocontest-band80m #00007F;
@define-color hellocontest-band40m #00FF00;
@define-color hellocontest-band20m #FFFF00;
@define-color hellocontest-band15m #FF7F00;
@define-color hellocontest-band10m #FF0000;
@define-color hellocontest-band-default @theme_text_color;

@define-color hellocontest-graph-bg @theme_bg_color;
@define-color hellocontest-graph-axis @theme_text_color;
@define-color hellocontest-timeindicator #FFBF33;
@define-color hellocontest-lowzone #CCCCCC;

/*
 * Entry area
 */

.entry-duplicate {
    background-color: @hellocontest-duplicate-bg;
    color: @hellocontest-duplicate-fg;
}

.entry-editing {
    background-color: #97C1F6;
    color: black;
}

/*
 * Score window, band selection buttons
 */

button.band {
    margin: 3px;
    padding: 3px;
}

button.band-active {
    border-top: 4px solid @theme_selected_bg_color;
}

button.band-visible {
    border-bottom: 4px solid @theme_text_color;
}

button.band label.band-label {
    font-size: x-large;
}

button.band label.band-points {
    font-size: medium;
}

button.band label.band-multis {
    font-size: medium;
}

button.band label.max-value {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    border: 1px solid @theme_selected_bg_color;
    border-radius: 3px;
    font-weight: bold;
}

/*
 * Score window, spot list rows
 */

 .spot-row {
    margin: 3px;
    padding: 3px;
    border: 2px solid @borders;
    color: @hellocontest-spot-fg;
}

.worked-spot {
    background-color: @hellocontest-worked-spot;
}

.manual-spot {
    background-color: @hellocontest-manual-spot-bg;
}

.skimmer-spot {
    background-color: @hellocontest-skimmer-spot-bg;
}

.rbn-spot {
    background-color: @hellocontest-rbn-spot-bg;
}

.cluster-spot {
    background-color: @hellocontest-cluster-spot-bg;
}

.spot-frequency {
    font-size: small;
    color: @hellocontest-spot-fg;
}

.spot-call {
    font-size: x-large;
    font-weight: bold;
    color: @hellocontest-spot-fg;
}

.spot-geo-info{
    font-size: small;
    color: @hellocontest-spot-fg;
}

.spot-predicted-exchange{
    font-size: x-large;
    color: @hellocontest-spot-fg;
}

.spot-score{
    font-size: x-large;
    color: @hellocontest-spot-fg;
}
