/*
 * Colors
 */

@define-color hellocontest-duplicate-bg red;
@define-color hellocontest-duplicate-fg white;

@define-color hellocontest-spot-fg #000000;
@define-color hellocontest-worked-spot-bg #808080;
@define-color hellocontest-manual-spot-bg #FFFFFF;
@define-color hellocontest-skimmer-spot-bg #FF99FF;
@define-color hellocontest-rbn-spot-bg #FFFF99;
@define-color hellocontest-cluster-spot-bg #99FFFF;

@define-color hellocontest-band160m #7F007F;
@define-color hellocontest-band80m #00007F;
@define-color hellocontest-band40m #00FF00;
@define-color hellocontest-band20m #FFFF00;
@define-color hellocontest-band15m #FF7F00;
@define-color hellocontest-band10m #FF0000;
@define-color hellocontest-band-default @theme_text_color;

@define-color hellocontest-graph-bg @theme_bg_color;
@define-color hellocontest-graph-axis @theme_text_color;
@define-color hellocontest-timeindicator @theme_selected_bg_color;
@define-color hellocontest-lowzone #CCCCCC;

@define-color hellocontest-tx-fg #FFFFFF;
@define-color hellocontest-tx-bg #FF0000;

/*
 * Entry area
 */

.entry-duplicate {
    background-color: @hellocontest-duplicate-bg;
    color: @hellocontest-duplicate-fg;
}

.entry-editing {
    background-color: #97c1f6;
    color: black;
}

.transmitting {
    background-color: @hellocontest-tx-bg;
    color: @hellocontest-tx-fg;
    border-radius: 10px;
}

/*
 * Callinfo window
 */

.callinfo-duplicate {
    background-color: @hellocontest-duplicate-bg;
    color: @hellocontest-duplicate-fg;
    padding-right: 3px;
    padding-left: 3px;
}

.callinfo-worked {
    background-color: @hellocontest-worked-spot-bg;
    color: @hellocontest-spot-fg;
    padding-right: 3px;
    padding-left: 3px;
}

.callinfo-worthless {
    color: @insensitive_fg_color;
}

.callinfo-multi {
    font-weight: bold;
}

.callinfo-exact-match {
    font-size: x-large;
}

.callinfo-predicted-exchange {
    font-size: x-large;
    font-style: italic;
}

.callinfo-match-insert {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.callinfo-match-delete {
    /* no default */
}

.callinfo-match-substitude {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.callinfo-match-false-friend {
    text-decoration-line: underline;
    text-decoration-style: double;
}

/*
 * Spots window, band selection buttons
 */

button.band {
    margin: 3px;
    padding: 3px;
}

button.band-active {
    border-top: 4px solid @theme_selected_bg_color;
}

button.band-visible {
    border-bottom: 4px solid @theme_text_color;
}

button.band label.band-label {
    font-size: x-large;
}

button.band label.band-points {
    font-size: medium;
}

button.band label.band-multis {
    font-size: medium;
}

button.band label.max-value {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    border: 1px solid @theme_selected_bg_color;
    border-radius: 3px;
    font-weight: bold;
}

/*
 * Score window, table
 */

label.score_table {
    background-color: @theme_bg_color;
    color: @theme_text_color;
}
