*.*~
*.log
*.cabrillo
*.adif
hellocontest
hellocontest*.deb
hellocontest*.AppImage
.appimage/*.desktop
.appimage/*.png
.appimage/*.svg
.appimage/.DirIcon
.debpkg/usr
.config_backup
ui/glade/#contest.glade#
