Package: hellocontest
Architecture: amd64
Section: universe/hamradio
Priority: optional
Version: !THE_VERSION!
Maintainer: Florian Thienel/DL3NEY <ftl@thecodingflow.com>
Homepage: https://github.com/ftl/hellocontest
Bugs: https://github.com/ftl/hellocontest/issues
Description: A simple HF contest logger for Linux.
